*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

}
.box{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding:30px;
    height:auto;
   background-color: blue;
    color: white;
    border:5px solid cyan; 
}
h1{
    font-size:clamp(5vh,3vw,60px);
     margin-bottom: 5px;

}
input{
    width:clamp(250px,20vw,500px);
    height:clamp(20px,30px,40px);
    
    
}
.input{
  margin-top:40px;
  margin-bottom:20px;
}
button{
    padding:8px;
    font-size:clamp(24px,2vw,48px);
    color: white;
    font-weight: bold;
    background-color:rgb(8, 19, 74);
    cursor: pointer;
    border-radius: 5px;

}
button:hover {
    background-color: rgb(10, 7, 72);
    transform: scale(1.1); 
    box-shadow: 0 4px 12px gold; 
}

